.contact-developer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 1px 3px 0px rgba(44, 44, 44, 0.8),inset 0px 1px 4.15px 0.85px rgba(5, 5, 5, 0.6);
    color: $color-white;
    padding: 10px 10px 10px 80px;
    font: 700 17px $font_light;
    &:after {
        content: '';
        position: absolute;
        left: -25px;
        bottom: -25px;
        width: 100px;
        height: 100px;
        background-position: -4px -758px;
    }


}
