.controls {
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: url(../images/buttons-bg.png) no-repeat 7px 5px;
        padding: 15px;
        width: 491px;
    }
    &__link {
        height: 84px;
        width: 84px;
        display: block;
        &--sound {
            background-position: -8px -336px;
        }
        &--settings {
            background-position: -8px -225px;
        }
        &--play {
            background-position: -4px -454px;
            width: 97px;
            height: 97px;
            margin: 0 5px;
        }
        &--help {
            background-position: -8px -8px;
        }
        &--share {
            background-position: -8px -117px;
        }
    }


}

@include phone {
    .controls {
        &__list {
            background: none;
            width: 100%;
            padding: 0;
        }
        &__link {
            height: 60px;
            width: 60px;
            &--sound {
                background-position: -6px -1720px;;
            }
            &--settings {
                background-position: -6px -1720px;
            }
            &--play {
                background-position: -1px -1575px;
                width: 68px;
                height: 68px;
                margin: 0;
            }
            &--help {
                background-position: -6px -1790px;
            }
            &--share {
                background-position: -7px -1862px;
            }
        }
    }
}