.create-game {
    width: 540px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,97.5%);
    background: #161616;
    box-shadow: 0px -2px 0px 0px rgba(160, 160, 160, 0.004);
    z-index: 10;
    &--active {
        transform: translate(-50%,-10%);
        transition: transform 0.3s ease;
    }
    &--wrapper {
        position: relative;
        padding: 35px 15px 15px;

    }
    &__title {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%,-60%);
        background: url("../images/create-game.png");
        width: 135px;
        height: 91px;
    }
    &__item {
        display: flex;
        padding: 0 10px;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.502);
        box-shadow: 0 1px 3px 0 rgba(58, 69, 37, 0.8),inset 0 1px 4.15px 0.85px rgba(5, 5, 5, 0.6);
        height: 70px;
    }
    &__buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
        li {
            flex-basis: 33%;
        }
        a {
            font-size: 22px;
            padding: 16px;
        }
    }
    &__button {
        padding: 16px;
    }
    .rooms-board__money {
        color: $color-white;
        font-size: 22px;
        font-weight: 700;
    }
    &__form {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        color: $color-white;
        font: 16px $font_light;
        justify-content: space-around;
        &--wrapper {
            display: flex;
        }
    }
    &__label {
        flex-basis: 40%;
        margin-bottom: 10px;
    }
    &__input {
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.502);
        box-shadow: 0px 1px 3px 0px rgba(58, 69, 37, 0.8), inset 0px 1px 4.15px 0.85px rgba(5, 5, 5, 0.6);
        box-sizing: border-box;
        height: 36px;
        border: 0;
        font-size: 16px;
        color: #fff;
        padding: 0 10px;
    }
}

@include phone {
    .create-game {
        width: 100%;
        &__buttons {
            li {
                flex-basis: 25%;
            }
            a {
                font-size: 14px;
                padding: 16px 8px;
            }
        }
        &__form {
            flex-direction: column;

        }
        &__input {
            margin-bottom: 10px;
        }
    }
}