.header {
    background: #161616;
    display: flex;
    align-content: center;
    margin: 0 -9999px;
    padding: 12px 9999px;
    justify-content: space-between;
    &__logo {
        width: 133px;
        height: 43px;
        display: inline-block;
        background: url("../images/logo.png");
        font-size: 0;
    }
}