.header {
    background: #161616;
    display: flex;
    align-content: center;
    margin: 0 -9999px;
    padding: 12px 9999px;
    justify-content: space-between;
    border-bottom: 4px solid #a0a0a0;
    &__logo {
        width: 133px;
        height: 43px;
        display: inline-block;
        background: url("../images/logo.png");
        font-size: 0;
    }
    &__ingame {
        position: relative;
        display: flex;
        align-content: center;
        justify-content: space-between;
        width: 100%;
    }
    &--index {
        min-height: 70px;
        box-sizing: border-box;
    }
    &--rooms {
        display: flex;
        min-height: 122px;
        align-items: flex-end;
        justify-content: flex-start;
        padding-bottom: 3px;
        box-sizing: border-box;
        position: relative;
        width: 100%;

    }
    &--room {
        min-height: 122px;
    }
}
@include desktop {
    .header {
        margin: 0;
        padding: 12px 0;
    }
}
@include phone {
    .header {
        min-height: 68px;
        box-sizing: border-box;
        &__logo {
            display: none;
        }
        &--index {
            min-height: 65px;
        }
        &--rooms {
            flex-direction: column;
            width: 96%;

        }
        &--room {
            min-height: 155px;
        }
        &__ingame {
            flex-direction: column-reverse;
            margin-left: -30px;
        }

    }
}