.main-part {
    &__top {
        background: url("../images/top-bg.jpg");
        min-height: 410px;
        margin: 0 -9999px 5px;
        padding: 0 9999px;
    }
    &__bottom {
        background: url("../images/game.jpg");
        margin: 0 -9999px;
        padding: 0 9999px;
        min-height: 598px;
        background-position-y: -170px;
        display: flex;
    }
}