.resources {
    font: 18px/23px $font;
    &__wrapper {
        display: flex;
        font: 18px/23px $font;
    }
    &__silver,
    &__gold {
        min-width: 155px;
        height: 38px;
        box-sizing: border-box;
        color: $color-white;
        padding: 0 35px 0 45px;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5),inset 0 1px 4.15px 0.85px rgba(5, 5, 5, 0.004);
        border-radius: 18px;
        background-color: rgba(0, 0, 0, 0.302);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &:after {
            content: '';
            background-position: -72px -591px;
            width: 33px;
            height: 34px;
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translate(0,-50%);
        }
        &:before {
            content: '';
            background-position: -3px -683px;
            width: 22px;
            height: 22px;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translate(0,-50%);
            cursor: pointer;
        }
    }
    &__silver {
        &:after {
            background-position: -71px -650px;
        }
    }
    &__stars {
        box-sizing: border-box;
        min-width: 80px;
        height: 38px;
        padding: 0 43px 0 0;
        position: relative;
        color: $color-white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &:after {
            content: '';
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translate(0,-50%);
            width: 31px;
            height: 31px;
            background-position: -73px -703px;
        }

    }
}