@font-face {
  font-family: 'Roboto-Black';
  src: url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/roboto-light.woff") format("woff"), url("../fonts/roboto-light.ttf") format("truetype"), url("../fonts/roboto-light.svg#roboto-light") format("svg");
  font-weight: normal;
  font-style: normal; }

.resources__gold:after,
.resources__gold:before,
.resources__silver:after,
.resources__silver:before,
.resources__stars:after,
.controls__link,
.contact-developer {
  background: url("../images/sprite.png") no-repeat; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

input:focus,
input:active {
  outline: 0; }

html,
body {
  height: 100%; }

.hidden {
  display: none !important; }

body {
  min-width: 320px; }

.wrapper {
  overflow-x: hidden;
  height: 100%;
  background: #161616; }
  .wrapper--inner {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 100%; }

.header {
  background: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 -9999px;
  padding: 12px 9999px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header__logo {
    width: 133px;
    height: 43px;
    display: inline-block;
    background: url("../images/logo.png");
    font-size: 0; }

.resources {
  font: 18px/23px Roboto-Black, Arial, sans-serif; }
  .resources__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font: 18px/23px Roboto-Black, Arial, sans-serif; }
  .resources__silver, .resources__gold {
    min-width: 155px;
    height: 38px;
    box-sizing: border-box;
    color: #fff;
    padding: 0 35px 0 45px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 1px 4.15px 0.85px rgba(5, 5, 5, 0.004);
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.302);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .resources__silver:after, .resources__gold:after {
      content: '';
      background-position: -72px -591px;
      width: 33px;
      height: 34px;
      position: absolute;
      left: 5px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
    .resources__silver:before, .resources__gold:before {
      content: '';
      background-position: -3px -683px;
      width: 22px;
      height: 22px;
      position: absolute;
      right: 5px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      cursor: pointer; }
  .resources__silver:after {
    background-position: -71px -650px; }
  .resources__stars {
    box-sizing: border-box;
    min-width: 80px;
    height: 38px;
    padding: 0 43px 0 0;
    position: relative;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .resources__stars:after {
      content: '';
      position: absolute;
      right: 5px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 31px;
      height: 31px;
      background-position: -73px -703px; }

.main-part__top {
  background: url("../images/top-bg.jpg");
  min-height: 410px;
  margin: 0 -9999px 5px;
  padding: 0 9999px; }

.main-part__bottom {
  background: url("../images/game.jpg");
  margin: 0 -9999px;
  padding: 0 9999px;
  min-height: 598px;
  background-position-y: -170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-menu__wrapper {
  background: url("../images/tickets.png") no-repeat 0 -69px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 410px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main-menu__inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .user__image {
    width: 215px;
    height: 215px;
    border-radius: 50%;
    box-shadow: inset 0 0 3px 0 rgba(5, 5, 5, 0.75);
    border: 10px rgba(22, 35, 0, 0.502) solid;
    background-image: url("../images/user-image.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    margin-right: 20px; }
  .user__buttons-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 135px; }
  .user__button {
    border-radius: 5px;
    background-image: -webkit-linear-gradient(bottom, #530c01 0%, #8f1300 50%, #ad1902 50%, #c41a00 100%);
    background-image: linear-gradient(to top, #530c01 0%, #8f1300 50%, #ad1902 50%, #c41a00 100%);
    width: 201px;
    height: 57px;
    box-shadow: 0px 3px 3px 0px rgba(5, 5, 5, 0.46);
    color: #fff;
    font: 24px/30px Roboto-Black, Arial, sans-serif;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-shadow: 0.5px; }

.controls__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../images/buttons-bg.png) no-repeat 7px 5px;
  padding: 15px;
  width: 491px; }

.controls__link {
  height: 84px;
  width: 84px;
  display: block; }
  .controls__link--sound {
    background-position: -8px -336px; }
  .controls__link--settings {
    background-position: -8px -225px; }
  .controls__link--play {
    background-position: -4px -454px;
    width: 97px;
    height: 97px;
    margin: 0 5px; }
  .controls__link--help {
    background-position: -8px -8px; }
  .controls__link--share {
    background-position: -8px -117px; }

.bottom-news {
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font: 17px Roboto-Light, Arial, sans-serif;
  padding-top: 35px; }
  .bottom-news__wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 1px 3px 0px rgba(44, 44, 44, 0.8), inset 0px 1px 4.15px 0.85px rgba(5, 5, 5, 0.6);
    border-radius: 20px 20px 0 0;
    padding: 25px;
    height: 516px;
    overflow: auto; }
  .bottom-news__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .bottom-news__changelog {
    list-style: disc;
    padding-left: 20px; }
    .bottom-news__changelog li {
      margin-bottom: 20px; }
  .bottom-news__article {
    margin-bottom: 25px; }
    .bottom-news__article--title {
      font-size: 20px;
      margin-bottom: 20px; }

.contact-developer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 1px 3px 0px rgba(44, 44, 44, 0.8), inset 0px 1px 4.15px 0.85px rgba(5, 5, 5, 0.6);
  color: #fff;
  padding-right: 20px; }
