//break points
$res_550: 550px;
$res_610: 610px;
$res_770: 770px;
$res_960: 960px;
$res_1020: 1020px;
$res_1220: 1220px;
$res_1400: 1400px;

//colors
$color-dark-blue: #140c3b;
$color-yellow: #e5bd62;
$color-dark-green: #0b311c;
$color-white: #fff;
$color-gold: #fec02b;
//fonts

@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf')  format('truetype'), url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/roboto-light.woff') format('woff'), url('../fonts/roboto-light.ttf')  format('truetype'), url('../fonts/roboto-light.svg#roboto-light') format('svg');
    font-weight: normal;
    font-style: normal;
}
$font:            Roboto-Black, Arial, sans-serif;
$font_light:      Roboto-Light, Arial, sans-serif;
$font_bold: Roboto-Black, Arial, sans-serif;

//sprite

.resources__gold:after,
.resources__gold:before,
.resources__silver:after,
.resources__silver:before,
.resources__stars:after,
.controls__link,
.contact-developer:after,
.barrels__item,
.barrels__item:last-child::after,
.addons__coins,
.addons__link--cancel:after,
.addons__link--search:after,
.resources__mute:after,
.game-card__cell--hit,
.game-card__cell--miss,
.rooms__lock:after,
.rooms__speed-up:after,
.rooms__smile:after,
.rooms__button:before,
.rooms__slider .ui-slider-handle,
.resources__gem,
.rooms-board__money:after,
.rooms-board__users:after,
.after-game__barrels li:after,
.friends__search:after,
.get-gold__gold:after,
.get-gold__silver:after,
.pre-game__invite:after,
.profile__title:after,
.rating-game__button--silver:after,
.rating-game__button--prize:after,
.rating-game__button--star:after
 {
    background: url("../images/sprite.png") no-repeat;
}


